set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'LimeLinux-Alpha1-Lilii'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Lime GNU/Linux 1.0 Alpha' --class limelinux --class gnu-linux --class gnu --class os {
	linuxefi /EFI/boot/kernel.efi options misobasedir=pisi misolabel=limelive overlay=free quiet ---
	initrdefi /EFI/boot/initrd.img
}

